body {
}

h1 {
  background: url("../images/logo.jpg") left top no-repeat;
  width: 174px;
  height: 55px;
  display: table;
  text-indent: -20000px;
  margin: 25px 0px;
}
h2 {
  color: white;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #1f6399;
  border-color: #1f6399;
  margin: 20px auto;
  display: table;
}

section#head {
  background-color: #1f6399;
}
section#head span {
  color: white;
  text-align: right;
  float: right;
  margin: 33px 0px 25px;
}

section#headline {
  background-image: url("../images/webinar");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 65px;
}

section#headline span {
  color: white;
  display: table;
}

section#headline a {
  color: white;
  text-decoration: none;
}

section#headline a:hover {
  text-decoration: underline !important;
}

section#content {
  margin: 30px 0 20px;
}

section#content small {
  font-size: 10px;
  line-height: 15px;
  display: table;
}

section#content ul {
  padding: 0;
  margin: -10px 20px 0 20px;
}

footer {
  background-color: #eee;
  padding: 20px 0;
}

footer p {
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}

footer ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
}
